.edit{
    text-align: center;
}
.edit table{
    width: 100%;
}
.edit p{
    width: 100%;
}
.edit .adm{
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px 0px;
    max-width: 500px;
    margin:auto;
    margin-bottom: 20px;
}
.edit .adm .inpFile{
    display: none;
}
.edit .adm .lbFoto{
    margin: auto;
    display: block;
    width: 80%;
    background-color: #3566f3;
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 10px;
}
.edit .adm input{
    width: 80%;
}
.edit .adm .btn{
    width: 35%;
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #3566f3;
    color: white;
    font-weight: bold;
}
.edit .adm .buttons{
    display: flex;
    justify-content: space-around;
}
.edit .adm td{
    padding: 5px 0px;
}