.login fieldset{
    padding: 5px;
    text-align: center;
}

.login p{
    padding: 5px 0px;
    text-align: left;
    margin-left: 10%;
}

.login legend{
    font-family: 'Rokkitt', serif;
    font-size: 24pt;
}